*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.noStyle {
  color: inherit;
  text-decoration: inherit;
}

:root {
  /* Huvudfärg - Mörkblå */
  --primary-color: #192841;
  /* Sekundär färg - Mörkgrå */
  --secondary-color: #444;
  /* Tredje färg - Mörkgrön */
  --tertiary-color: #2d6a4f;

  /* Ljusare versioner av huvudfärgen för 30% */
  --primary-light: #5784b4;
  --primary-lighter: #98b8d3;

  /* Mörkare versioner av sekundär färg för 10% */
  --secondary-dark: #2b2b2b;
  --secondary-darker: #1a1a1a;

  /* Ljusare versioner av tredje färg för 10% */
  --tertiary-light: #2d8b63;
  --tertiary-lighter: #47a07d;

  /*  Textfärg */
  --text-color-primary: #ffffff;
  --text-color-secondary: #000000;
}


.App {
  user-select: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  min-width: fit-content;
  display: grid;
  grid-template-rows: 0.2fr 2.7fr 0.1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  overflow: hidden;
}

header {
  grid-area: header;
  width: 100%;
  padding: .3rem;
  background-color: var(--secondary-dark);
  border: 1px solid black;

}

main {

  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer {
  grid-area: footer;
  background-color: var(--secondary-darker);
  border: 1px solid black;

}

.fadeEdge {
  pointer-events: none;
  /* left: 0; */
  transform: translateX(150%);
  z-index: 1;

  width: 30px;
  height: 80vh;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, var(--primary-color) 90%);
  /* border: 1px solid black; */

  &:nth-last-of-type(1) {
    transform: rotate(180deg) translateX(150%);

  }
}

.columnsContainer {
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 1rem 50px;
  margin: 1rem;
  max-width: 85vw;
  height: 75vh;
  overflow-x: auto;


  &::-webkit-scrollbar {
    /* Bredden på scrollbar */
    width: 8px;
    height: 8px;


  }

  &::-webkit-scrollbar-track {
    /* Bakgrundsfärgen för scrollbar-track */
    background: transparent;
    border: 1px solid black;
    display: none;

  }

  &::-webkit-scrollbar-thumb {
    /* Färgen på scrollbar-thumb */
    background: var(--primary-light);
    /* Radien på scrollbar-thumb */
    border-radius: 50%;

  }

  &::-webkit-scrollbar-thumb:hover {
    /* Färgen på scrollbar-thumb vid hover */
    background: var(--primary-lighter);

  }

}

/* COLUMN */
.Column {
  display: flex;
  flex-direction: column;

  background-color: var(--secondary-dark);
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
  max-width: 250px;

  height: 100%;
  padding: .2rem;

  animation: scale 300ms ease;



  /* COLUMN HEADER */
  .columnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-color);
    padding: .3rem;
    height: 30px;
    transition: 200ms;

    &:hover {
      filter: brightness(1.2);
      /* Mörkare bakgrundsfärg vid hovring */
    }

    input {
      /* border: none; */

      height: inherit;

      background: none;
      color: inherit;
      font-size: 1.2rem;
      font-weight: inherit;
      padding: 0;
      margin: 0;
      outline: none;
      width: 100%;


      &:focus {
        border: 2px solid var(--primary-color);
        color: var(--text-color-primary);
      }
    }

    .trashBtn {

      width: 1.2rem;

      &:hover {
        color: rgb(151, 0, 0);
      }
    }
  }

  /* LIST OF TASKS */
  .taskList {
    display: flex;
    flex-direction: column;
    gap: .7rem;


    list-style-type: none;
    padding: .2rem;
    margin-top: .5rem;
    height: 100%;
    overflow-y: scroll;

    /* hide scrollbar */
    ::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, Edge/Safari and WebView */
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */




    /* TASK CARD */
    .Task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;

      background-color: var(--primary-lighter);
      border-radius: 5px;
      width: 100%;
      height: 60px;
      overflow: hidden;

      animation: scale 100ms ease;

      .taskContent {

        display: flex;
        flex: 1;
        gap: .2rem;
        flex-direction: column;
        justify-content: center;

        width: inherit;
        height: 100%;
        padding: 0 .5rem;



        /* Visa punkter när texten överskrider bredden */
        overflow: hidden;


        h3 {
          font-size: 1rem;
          /* Dölj eventuellt överskridande innehåll */
          text-overflow: ellipsis;
          /* Hindra textbrytning */
          white-space: nowrap;
          /* Visa punkter när texten överskrider bredden */
          overflow: hidden;
        }



        p {

          font-size: .8rem;
          align-items: center;
        }
      }

      .navigateTaskBtn {
        width: 25px;
        /* Ange en fast bredd */
        flex-shrink: 0;
        /* Hindra att knappen krymper */

        &:hover {
          transform: scale(1.3);
        }

        &:disabled {
          opacity: .1;

        }
      }
    }

  }

  /* NEW TASK */
  .addTaskForm {
    display: flex;

    /* hidden label */
    label {
      position: absolute;
      top: -10000000px;
    }

    input {
      background-color: var(--secondary-dark);
      font-size: 1rem;
      width: 100%;
      height: 40px;
      margin-bottom: .3rem;
      padding: 1rem;
    }
  }


  /* COLUMN FOOTER */
  .columnFooter {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 30px;
    border-top: 2px solid black;
    border-radius: 2px;


    .ColorPaletteBtn {
      width: 1.2rem;

      &:hover,
      &:active {
        color: white;
      }
    }

  }

}

.addColumnBtn {
  color: var(--tertiary-color);
  align-self: center;
  /* background-color: aquamarine; */
  height: fit-content;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: color-mix(in srgb, var(--primary-color) 70%, rgba(0, 0, 0, 0) 30%);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  z-index: 3;
  animation: fade 200ms ease;


  .modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-dark);
    box-shadow: 4px 4px 4px 0 var(--secondary-darker);
    width: 50%;
    height: 60%;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    animation: scale 200ms ease;



    .columnName {
      font-size: larger;
      background-color: var(--secondary-color);
      border-radius: 10px;
      width: fit-content;
      padding: 0.3rem;

    }

    .taskLink {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      &:hover {
        text-decoration: underline;
      }
    }

    .closeBtn {
      position: absolute;
      right: .4rem;
      top: 0;
      font-weight: 900;
      font-size: 1.5rem;
    }


    .editForm {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 1rem;

      label {
        visibility: hidden;
        position: absolute;
        top: -9999999999px;
      }

      #taskTitle {
        background-color: var(--secondary-color);
        font-size: 2rem;
      }

      #taskBody {
        background-color: var(--secondary-color);
        width: 100%;
        height: 100%;
        resize: none;
        overflow: auto;

        font-size: large;
      }
    }



    .date {
      opacity: 0.6;
    }

    .btnsContainer {

      display: flex;
      width: 100%;
      justify-content: space-around;


      button {
        width: 80px;
        padding: .3rem;
        border-radius: 5px;
      }

      .saveBtn {
        background-color: #0a4e98;
      }

      .deleteBtn {
        background-color: rgba(255, 0, 0, 0.356);
      }

    }

  }
}


.ColumnPage {

  padding: 1rem;



}

.TaskPage {

  .taskDisplay {
    width: 55vw;
    min-height: 60%;
    border-radius: 5px;
    padding: 1rem;

    background-color: var(--primary-lighter);

    h2 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 2rem;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      margin: 1rem;


    }

    .bold {
      font-weight: bold;


    }


  }
}

.backButton {
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 50%;
  margin: 5px;
  transform: translate(-50%, 0%);
  text-decoration: none;
  color: var(--text-color-secondary);
  width: 40px;
  transition: 200ms;

  &:hover {
    color: var(--text-color-primary);
    transform: translate(-50%, 0%) scale(1.1) rotateZ(5deg);
  }

}

.MissingPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.deleted {
  transform: scale(0) translateX(-100%);
  transition: 200ms;

}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }
}